.container {
    width: 1194px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-top: 1px solid rgb(212, 219, 226);
    text-align: right;
}
.container > p{
    font-size:110%;
    font-weight: 700;
}
.container div  {
    color : grey;
    font-size: 80%;
}
.container div a{
    text-decoration: none;
    color : grey
}
@media (max-width: 575px){
    .container{
        text-align: left;
    }
}
