header .navigation {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

header .navigation a {
    text-decoration: none;
}

header .navigation * {
    color: rgb(148,67,15);
}

header .navigation .logoImg {
    padding: 10px;
}

header .navigation .menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    gap: 0.5rem;
}

header .navigation .menu li {
    padding: 10px;
    cursor: pointer;

}

header .navigation .menu .myPageshort {
    display: none;
}

header .navigation .icon {
    display: flex;
    cursor: pointer;
}

header .navigation .icon div {
    padding: 10px;
}

header .navigation .icon .more {
    display: none;
}

header .searchBox {
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color: pink;
    opacity: 0.9;
    text-align: center;
    display: none;
    z-index: 5;
}

header .searchBox .searchWrap {
    position: relative;
    top: 25%;
}

header .searchBox input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 40vh;
    height: 5vh;
}

header .searchBox.active {
    display: block;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

header .searchBox .back {
    position: relative;
    left: -45%;
    padding: 10px;
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.modal.fade .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
}

/* .modal.fade .modal-footer {
    padding-bottom: 2rem;x
}  */


/* header .searchInput {
    position: absolute;
    width: 100%;
    height: 20vh;
    z-index: 3;
    background-color: lightsalmon;
    opacity: 0.9;
    text-align: center;
    display: none;
} */
/* header .searchInput input {
    position: absolute;
    top: 45%;
} */
/* header .searchInput.active {
    display: block;
} */


@media screen and (max-width: 768px) {

    header .navigation {
        width: 100%;
        height: 10vh;
    }

    header .navigation .menu .myPageshort {
        display: block;
    }

    header .navigation .menu,
    header .navigation {
        position: fixed;
    }

    header .navigation .icon .myPagelong {
        display: none;
    }

    header .navigation .icon .more {
        display: block;
    }

    header .navigation .menu {
        display: block;
        position: absolute;
        background-color: lightsalmon;
        width: 100%;

        z-index: 100;
        visibility: hidden;
        top: 10vh;
    }

    header .navigation .menu.active {
        opacity: 0.9;
        visibility: visible;
    }

    header .navigation .icon .search.inactive {
        display: none;
    }

    header .navigation .icon .login.inactive {
        display: none;
    }

    /* header .navigation .icon .more.inactive {
        display: none;
    } */

    header .searchBox {
        position: fixed;
        height: 100vh;
        top: 0;
        opacity: 1;
    }

    header .searchBox .back {
        display: block;
        cursor: pointer;
    }

    header .searchBox .searchWrap {
        position: relative;
        top: 0;
    }

}

@media screen and (max-width: 576px) {
    #exampleModal .modal-dialog .modal-content {
        width: 100vw;
    }
}