.main-section {
    margin-top: 8rem;
    margin-bottom: 4rem;
}


.all-lists-grid-container {
    margin: 0 auto;
  width: 75vw;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  row-gap: 4vh;
  column-gap: 3vw;
}

.main-section .all-lists-grid-container .food-card {
    height: 20vh;
    border-radius: 0;
    border: none;
    background-color: transparent;
    scale: 100%;
    border-radius: 10px;
}

.main-section .all-lists-grid-container .food-card .card-body {
    display: block;
    padding: 0.2rem;

    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}

.main-section .all-lists-grid-container .food-card img {
    border-radius: 10px;
    width: 100%;
    height: 85%;
    border-radius: 0;
}

.main-section .all-lists-grid-container .food-card .card-title {
    font-size: 1rem;
}
.main-section .all-lists-grid-container .bi-arrow-right {
    position: absolute;
    right: 6px;
}

.main-section .all-lists-grid-container .food-card .card-ingredient,
.main-section .all-lists-grid-container .food-card .card-text {
    display: none;
}


.order1 {
    order: -2;
}

@media screen and (min-width: 1025px){
    header .navigation {
        padding: 0 3rem ;
    }
    .logo {
        width: 200px;
    }
    
}

@media screen and (max-width: 1024px) {
    
    .all-lists-grid-container {
    grid-template-columns: repeat(3, 1fr);
    }

    }


@media screen and (max-width: 768px) {
    
.all-lists-grid-container {

    width: 80vw;
    grid-template-columns: repeat(2, 1fr);

}

}

@media screen and (max-width: 576px) {
    
    .all-lists-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    }