.profile {
    margin: 0 100px 0 100px;
    height: 220px;
    /* padding: 20px; */
    background-color: rgb(248, 141, 98,.7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    border-radius: 20px;
}

.profileImg{
    border-radius: 50%;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-size:contain;
    background-position: center;
    margin-right: 100px;
}
#previewImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#previewImg:hover{
    cursor: pointer;
}

.idBox{
    display: flex;
    align-items: center;

}

.nameAndLike strong {
    font-size: 200%;    
    color: white;
}

.like {
    display: flex;
}

.good:hover{
    cursor: pointer;
}

.logout button{
    /* display: inline-block; */
    border-radius: 15px;
    margin: 40px 0px 0px 10px;

}

.logout a {
    text-decoration: none;
    color: black;
    /* background-color: black; */
}

a:hover {
    cursor: pointer;
}

.profile>.profileImg {
    right: 200px;
}




/*  프로필과 그 밑 내용 구분 선 */
.hr {
    width: 10px;
    height: 10px;
    margin: 20px 0px;
    background-color: rgb(0, 255, 123,.5);
    border-radius: 10px;
}






/* 고객센터 */
.request > p{
    font-size:140%;
    font-weight: 700;
}
.request div  {
    color : grey
}
.request div a{
    text-decoration: none;
    color : grey
}